.container{
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(24, 2, 21);
}
.calculator{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
form input{
  background-color: rgb(97, 97, 155);
  border-radius: 5px;
  margin: 2px;
  width:60px;
  height: 60px;
  color:white;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  outline: none;
}
form input[type='button']:hover{
  background-color: rgb(21, 21, 54);
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input{
  flex: 1;
  background-color: rgb(56, 54, 54);
  text-align: right;
  padding: 5px;
}
.equal{
  width:125px;
}
.AC{
  background-color: rgb(109, 38, 38);
}
.DEL{
  background-color: rgb(14, 94, 24);
}